*
{
    margin: 0;
    padding: 0;
}
/* navbarcss */
header
{
  /* border: 1px solid black; */
}
nav
{
  /* border: 1px solid black; */
  background-color: #77B6EA;
  height: 100px;
}
.li
{
  
  padding: 3px;
}
.para
{
  /* background-color: black; */

  text-align: justify;
}
.container-fluid
{
    /* border: 1px solid yellow; */
    position: relative;
    left: 60px;
    width: 70%;
}
ul li a:hover
{
  background-color: rgb(25, 213, 255);
  color: rgb(2, 32, 46);
  cursor: pointer;
}
.logo
{
  position: relative;
  left: 20px;
  color:aqua;
}
.TEXT
{
  color: aliceblue;
  font-weight: 700px;
  font-size: 25px ;
}
.container
{
  margin-top: 25px;
  text-align: center;
}
.bg-info
{
  font-size: 20px;
  width: 10ch;
}
.card
{
  height: 700px;
}
.footer
{
  background-color: #77B6EA;
  width: 120%;
}
.text
{
  font-size: 30px;
}